src/main/resources/wsdl/ExampleEntity.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:sch="http://wandrell.com/example/ws/entity" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://wandrell.com/example/ws/entity" targetNamespace="http://wandrell.com/example/ws/entity">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://wandrell.com/example/ws/entity"
            elementFormDefault="unqualified" targetNamespace="http://wandrell.com/example/ws/entity"
            version="1.0">

            <xs:element name="getEntity" type="tns:getEntity" />

            <xs:element name="getEntityResponse" type="tns:getEntityResponse" />

            <xs:element name="entity">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id"
                            type="xs:int" />
                        <xs:element default="" minOccurs="0"
                            name="name" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="getEntity">
                <xs:sequence>
                    <xs:element name="id" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getEntityResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0"
                                    name="id" type="xs:int" />
                                <xs:element default=""
                                    minOccurs="0" name="name" type="xs:string" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEntityResponse">
        <wsdl:part element="tns:getEntityResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEntity">
        <wsdl:part element="tns:getEntity" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EntityEndpoint">
        <wsdl:operation name="getEntity">
            <wsdl:input message="tns:getEntity" name="getEntity">
            </wsdl:input>
            <wsdl:output message="tns:getEntityResponse"
                name="getEntityResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EntityEndpointServiceSoapBinding"
        type="tns:EntityEndpoint">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getEntity">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="getEntity">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getEntityResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EntityEndpointService">
        <wsdl:port binding="tns:EntityEndpointServiceSoapBinding"
            name="EntityEndpointPort">
            <soap:address location="http://localhost:9966/ws/unsecure/code_first" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>